// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');

// Bootstrap
@import url("../node_modules/bootstrap/less/variables.less");
@import url("../node_modules/bootstrap/less/mixins.less");
@import url("../node_modules/bootstrap/less/normalize.less");
@import url("../node_modules/bootstrap/less/print.less");
@import url("../node_modules/bootstrap/less/scaffolding.less");
@import url("../node_modules/bootstrap/less/grid.less");
@import url("../node_modules/bootstrap/less/tables.less");
@import url("../node_modules/bootstrap/less/forms.less");
@import url("../node_modules/bootstrap/less/responsive-utilities.less");
@import url("../node_modules/bootstrap/less/utilities.less");
@import url("../node_modules/bootstrap/less/navbar.less");
@import url("../node_modules/bootstrap/less/navs.less");
@import url("../node_modules/bootstrap/less/jumbotron.less");
@import url("../node_modules/bootstrap/less/buttons.less");
@import url("../node_modules/bootstrap/less/panels.less");

// Núcleo
@import url("colors");
@import url("mixins");
@import url("animations");

// Componentes
@import url("componentes/action-icon");
@import url("componentes/action-link");
@import url("componentes/buttons");
@import url("componentes/card");
@import url("componentes/footer");
@import url("componentes/form");
@import url("componentes/hero");
@import url("componentes/library");
@import url("componentes/logo");
@import url("componentes/map");
@import url("componentes/navbar");
@import url("componentes/panels");
@import url("componentes/svg-data");
@import url("componentes/tag");
@import url("componentes/video-intro");


body {
    background: @body-bg;
    .font-style(@font-size: 14px); // valores padrões: @font-family: 'Open Sans', sans-serif; @font-weight: 400; @font-size: 1em
    color: @white;
}

.content-title {
    text-align: center;
    .font-style(@font-weight: 400; @font-size: 2em);
    .content-title--bold {
        display: block;
        .font-style(@font-weight: 700);
    }
}

.underlined {
    border-bottom: solid 3px @unip-yellow;
}

.highlighted {
    color: @unip-yellow;
}